doctype 5
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Customer Alert
		link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
		link(rel="stylesheet" href="/stylesheets/custom.css")
	body
		.modal-header
			h4 Customer Alert
		.container
			.modal-body
				.row
					.col-xs-9
						h5 PM Approaching within 60 Days
						.table-condensed
							table.table.table-condensed.table-responsive.table-bordered.table-striped
								thead
									tr
										th Equip. #
										th Product
										th Maintenance
										th Next Service Date
								tbody
									- for PMapproach in PMs
										if moment().day(60) > moment(PMapproach.NextPMDate) && moment() < moment(PMapproach.NextPMDate)
											tr
												td #{PMapproach._id}
												td #{PMapproach._Product.ProductName}
												td #{PMapproach.NextPMDescription}
												td.danger #{moment(PMapproach.NextPMDate).format('dddd, MMMM Do, YYYY')}
					.col-xs-9
						h5 Service Orders Waiting Customer Approval
						.table-condensed
							table.table.table-condensed.table-responsive.table-bordered.table-striped
								thead
									tr
										th Service Order #
										th Product
										th Open Date
										th Part Cost
										th
								tbody
									- for openrequest in openrequests
										if openrequest.CurrentStatus == "Waiting For Customer Approval"
											tr
												td #{openrequest._id}
												td #{openrequest._Product.ProductName}
												td #{moment(openrequest.OpenDate).format('dddd, MMMM Do, YYYY')}
												td $#{openrequest.PartCost}
												td
													button(type="button" class="btn btn-success" data-dismiss="modal" name="Approve") Approve	
					.col-xs-9
						h5 Service Orders Completed in Last 60 Days
						.table-condensed
							table.table.table-condensed.table-responsive.table-bordered.table-striped
								thead
									tr
										th Service Order #
										th Product
										th Open Date
										th Closed Date
								tbody
									- for openrequest in openrequests
										if openrequest.CurrentStatus == "Completed"
											if moment().day(60) > moment(openrequest.CloseDate) && moment() < moment(openrequest.CloseDate)
											tr
												td #{openrequest._id}
												td #{openrequest._Product.ProductName}
												td #{moment(openrequest.OpenDate).format('dddd, MMMM Do, YYYY')}
												td #{moment(openrequest.CloseDate).format('dddd, MMMM Do, YYYY')}
		.modal-footer
			table
				tr
					td
						button(type="button" class="btn btn-default" data-dismiss="modal" name="Approve") Close
